*{padding: 0;
    margin: 0;
    font-family: Helvetica;}



body{
     background-color: #D9DDD7;
     z-index: 1;
}
  


.rectangle {
    width: 80rem;
    height: 7.2rem;
    background: #8D9277;
    position: absolute;
    top: 10;
    z-index: 2;
}
  

.rectangle3{
     width: 80rem;
     height: 0.3rem;
     background: #8D9277;
     left: 0%;
     top: 20%;
     position: absolute;
     z-index: 2;
  
}

.rectangle30{
    width: 60rem;
    height: 25rem;
    background: #B8BF9A;
    left: 12%;
    top: 28%;
    position: absolute;
    z-index: 2;
    border-radius: 1%;
    opacity: 0.8;
 
}


.ajuda{
    position: absolute;
    width: 3%;
    top: 4.5%;
    left: 95%;
    z-index: 3;
    }

.casa{
  position: absolute;
  width: 3%;
  top: 4.5%;
  left: 90%;
  z-index: 3;
}

.casa{
     position: absolute;
     width: 3%;
     top: 4.5%;
     left: 90%;
     z-index: 3;
}


.user{
 position: absolute;
 width: 9%;
 top: 0.2%;
 left: 2%;
 z-index: 3;
}


#nome {
 position: absolute;
  width: 20%;
   top: 5%;
   left: 12%;
   z-index: 8;
  color: #ffffff;
}


.rectangle1{
   width: 50rem;
   height: 20rem;
   position: absolute;
   top: 20%;
   z-index: 5;
 border-radius: 100px;
 left: 20%;
}




      

       .login{
        position: absolute;
        z-index: 3;
        color: #ffffff;
        left: 41%;
        font-size: 140%;
        top: 38%;
       }


       .email{
        position: absolute;
        z-index: 3;
        left: 37%;
        top: 50%;
        color: #8D9277;
      }
      
      input[type="email"]{
        width: 300px;
        height: 30px;
        background-color: #D9DDD7;
        border-color: #D9DDD7;
      }
      
      .cpf{
        position: absolute;
        z-index: 3;
        left: 37%;
        top: 60%;
        color: #8D9277;
      }
      
      .senha{
        position: absolute;
        z-index: 3;
        left: 37%;
        top: 70%;
        color: #8D9277;
      }
      
      input[type="number"]{
        width: 300px;
        height: 30px;
        background-color: #D9DDD7;
        border-color: #D9DDD7;
      }
      
      input[type="password"]{
        width: 300px;
        height: 30px;
        background-color: #D9DDD7;
        border-color: #D9DDD7;
      }
      
      button{
        position: absolute;
        z-index: 3;
        left: 46%;
        top: 83%;
        color: #FFFFFF;
        height: 30px;
        width: 65px;
        background-color: #B79D7C;
        border-radius: 5px;
        border-color: #B79D7C;
      }
      


     







  body { overflow-y: hidden; }
  body { overflow-x: hidden; }