* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
  }
  
  
  #img[type="img"] {
    border-radius: 40px;
    position: absolute;
  }
  
  .logo {
    z-index: 4;
    position: absolute;
    left: 2%;
    top: 0.5%;
  }
  
  
  .rectangle {
    width: 80rem;
    height: 5.5rem;
    background: #8D9277;
    position: absolute;
    top: 10;
    z-index: 2;
  }
  
  
  .rectangle3 {
    width: 80rem;
    height: 0.3rem;
    background: #8D9277;
    left: 0%;
    top: 16%;
    position: absolute;
    z-index: 2;
  
  }
  
  
  .rectangle4 {
    width: 80rem;
    height: 15.99rem;
    background: #ACAEAD;
    z-index: 5;
    left: 0%;
    top: 58%;
    position: absolute;
  
  }
  
  .consultas {
    position: absolute;
    z-index: 6;
    left: 13%;
    top: 77%;
  }
  
  .agendar {
    position: absolute;
    z-index: 6;
    left: 35%;
    top: 77%;
  }
  
  .planos {
    position: absolute;
    z-index: 6;
    left: 56%;
    top: 77%;
  }
  
  .perfil {
    position: absolute;
    z-index: 6;
    left: 80%;
    top: 77%;
  }
  
  
  .titulo {
    left: 10%;
    top: 4%;
    position: absolute;
    z-index: 3;
    color: #B8BF9A;
  }
  
  
  .agendamento {
    position: absolute;
    left: 10%;
    top: 22%;
  }
  
  .arteterapia {
    position: absolute;
    left: 40%;
    top: 22%;
    text-align: center;
  }
  
  .nutricao {
    position: absolute;
    left: 70%;
    top: 22%;
  }
  
  .titulo1 {
    position: absolute;
    z-index: 8;
    left: 13%;
    top: 48%;
    color: #ffffffec;
    opacity: 0.9;
  }
  
  .titulo2 {
    position: absolute;
    z-index: 8;
    left: 46.5%;
    top: 48%;
    color: #ffffffec;
    opacity: 0.9;
  }
  
  .titulo3 {
    position: absolute;
    z-index: 8;
    left: 78%;
    top: 48%;
    color: #ffffffec;
    opacity: 0.9;
  }