* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}


#img[type="img"] {
  border-radius: 40px;
  position: absolute;
}

.logo {
  z-index: 4;
  position: absolute;
  left: 2%;
  top: 0.5%;
  border-radius: 50%;
}


.rectangle {
  position: absolute;
  top: 0%;
  width: 78.97rem;
  height: 5.5rem;
  background: #8D9277;
  position: absolute;
  z-index: 2;
}

.rectangle2 {
  position: absolute;
  width: 78.97rem;
  height: 0.3rem;
  background: #8D9277;
  left: 0%;
  top: 17%;
  position: absolute;
  z-index: 2;
}

.rectangle3 {
  position: absolute;
  width: 78.97rem;
  height: 0.3rem;
  background: #8D9277;
  left: 0%;
  top: 25%;
  position: absolute;
  z-index: 2;
}

.rectangle4 {
  width: 77.7rem;
  height: 25rem;
  background: #D9D9D9;
  z-index: 5;
  left: 0.8%;
  top: 30%;
  position: absolute;

}

.rectangle5 {
  width: 75rem;
  height: 18.3rem;
  background: #C6CAC9;
  z-index: 1;
  left: 2.5%;
  top: 115%;
  border-radius: 20px;
  position: absolute;
  
}

.rectangle6 {
  position: absolute;
  width: 78.97rem;
  height: 1rem;
  background: #B79D7C;
  left: 0%;
  top: 185%;
  position: absolute;
  z-index: 2;
}

.rectangle7 {
  position: absolute;
  width: 78.97rem;
  height: 1rem;
  background: #B79D7C;
  left: 0%;
  top: 235%;
  position: absolute;
  z-index: 0;
}

.rectangle8 {
  width: 78.97rem;
  height: 20rem;
  background: #D9D9D9;
  z-index: 0;
  top: 250%;
  position: absolute;

}

.rectangle9 {
  position: absolute;
  width: 78.97rem;
  height: 0.3rem;
  background: #cfcfcf;
  left: 0%;
  top: 253%;
  position: absolute;
  z-index: 2;
}

.rectangle10 {
  position: absolute;
  width: 78.97rem;
  height: 16.88rem;
  background: #000000;
  left: 0%;
  top: 188%;
  position: absolute;
  opacity: 50%;
  z-index: 3;
}

.titulo {
  left: 10%;
  top: 4%;
  position: absolute;
  z-index: 3;
  color: #B8BF9A;
}

.menu1 {
  position: absolute;
  color: #AFAFAF;
  left: 10.3%;
  top: 19.5%;
  font-size: larger;
  z-index: 1;
}

.menu2 {
  position: absolute;
  color: #AFAFAF;
  left: 43.5%;
  top: 19.5%;
  font-size: larger;
  z-index: 1;
}

.menu3 {
  position: absolute;
  color: #AFAFAF;
  left: 79%;
  top: 19.5%;
  font-size: larger;
  z-index: 1;
}

.ebooks {
  position: absolute;
  font-size: 300%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #D6D6D6;
  font-size: 100;
  left: 35%;
  top: 172%;
  z-index: 1;
}

.ajuda {
  position: absolute;
  width: 3%;
  top: 4.5%;
  left: 90.5%;
  z-index: 3;
}

.logar {
  position: absolute;
  width: 2.8%;
  top: 4.6%;
  left: 95%;
  z-index: 3;
}

.icon1{
  position: absolute;
  width: 15%;
  left: 8%;
  top: 120%;
  background-color: #B97163;
  border-radius: 50%;
  z-index: 2;
}

.icon2{
  position: absolute;
  width: 15%;
  left: 31%;
  top: 120%;
  background-color: #B97163;
  border-radius: 50%;
  z-index: 2;
}

.icon3{
  position: absolute;
  width: 15%;
  left: 54%;
  top: 120%;
  z-index: 2;
}

.icon4{
  position: absolute;
  width: 15%;
  left: 76.8%;
  top: 120%;
  background-color: #B97163;
  border-radius: 50%;
  z-index: 2;
}

.item1{
  position: absolute;
  color: #B38D60;
  left: 11%;
  top: 156%;
  font-size: x-large;
  z-index: 2;
}

.item1{
  position: absolute;
  color: #B38D60;
  left: 11%;
  top: 156%;
  font-size: x-large;
  z-index: 2;
}

.item2{
  position: absolute;
  color: #B38D60;
  left: 34.9%;
  top: 156%;
  font-size: x-large;
  z-index: 2;
}
.item3{
  position: absolute;
  color: #B38D60;
  left: 54.8%;
  top: 156%;
  font-size: x-large;
  z-index: 2;
}

.item4{
  position: absolute;
  color: #B38D60;
  left: 80%;
  top: 156%;
  font-size: x-large;
  z-index: 2;
}

.QRcode{
  position: absolute;
  width: 15%;
  border-radius: 10px;
  left: 80%;
  top: 263%;
  z-index: 2;
}

.escrita1{
  position: absolute;
  color: #656565;
  top: 273%;
  left: 60%;
  z-index: 2;
}

.escrita2{
  position: absolute;
  color: #656565;
  top: 278%;
  left: 60%;
  z-index: 2;
}

.escrita3{
  position: absolute;
  color: #656565;
  top: 283%;
  left: 59%;
  z-index: 2;
}

.escrita4{
  position: absolute;
  color: #354332;
  font-size: xx-large;
  top: 263%;
  left: 59%;
  z-index: 2;
}

.escrita5{
  position: absolute;
  color: #d69123;
  font-size: large;
  top: 290%;
  left: 60%;
  z-index: 2;
}

.escrita6{
  position: absolute;
  color: #d69123;
  font-size: small;
  top: 272%;
  left: 5%;
  z-index: 2;
}

.escrita7{
  position: absolute;
  color: #d69123;
  font-size: small;
  top: 280%;
  left: 5%;
  z-index: 2;
}

.escrita8{
  position: absolute;
  color: #656565;
  font-size: small;
  top: 275%;
  left: 5%;
  z-index: 2;
}

.escrita9{
  position: absolute;
  color: #656565;
  font-size: small;
  top: 283%;
  left: 5%;
  z-index: 2;
}

.escrita10{
  position: absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #9e9e9e;
  font-size: small;
  top: 299.2%;
  left: 6.5%;
  z-index: 2;
}

.margem1{
  position: absolute;
  color: #888787;
  top: 265%;
  left: 3%;
  z-index: 2;
}

.margem2{
  position: absolute;
  color: #888787;
  top: 288%;
  left: 3%;
  z-index: 2;
}

.home{
  position: absolute;
  width: 2%;
  top: 298%;
  left: 4%;
  z-index: 2;
}

.img1{
  position: absolute;
  top: 195%;
  left: 3%;
  z-index: 1;
}

.img2{
  position: absolute;
  top: 192%;
  left: 33.5%;
  z-index: 1;
}

.img3{
  position: absolute;
  top: 195%;
  left: 70%;
  z-index: 1;
}

.ebook1{
  position: absolute;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  color: #ffffff;
  font-size: large;
  top: 223%;
  left: 8.5%;
  z-index: 2;
}

.ebook2{
  position: absolute;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  color: #ffffff;
  font-size: larger;
  top: 227%;
  left: 45%;
  z-index: 2;
}

.ebook3{
  position: absolute;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  color: #ffffff;
  font-size: large;
  top: 223%;
  left: 81%;
  z-index: 2;
}

.anuncio{
  position: absolute;
  width: 70%;
  top: 30%;
  left: 0.8%;
  z-index: 10;
}

.SobreNos{
  position: absolute;
  color: #d17a1e;
  font-size: xx-large;
  top: 102%;
  left: 76.5%;
  z-index: 10;
}

.SobreNos2{
  position: absolute;
  color: #656565;
  top: 45%;
  left: 74.5%;
  z-index: 10;
}

.SobreNos3{
  position: absolute;
  color: #656565;
  top: 50%;
  left: 73.3%;
  z-index: 10;
}

.SobreNos4{
  position: absolute;
  color: #656565;
  top: 55%;
  left: 74%;
  z-index: 10;
}

.SobreNos5{
  position: absolute;
  color: #656565;
  top: 60%;
  left: 74.5%;
  z-index: 10;
}

.SobreNos6{
  position: absolute;
  color: #656565;
  top: 65%;
  left: 74.7%;
  z-index: 10;
}

.alerta{
  position: absolute;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 130px;
  top: 195%;
  left: 20%;
  opacity: 70%;
  z-index: 4;
}