*{
    margin: 0%;
    padding: 0%;
    /* border:1px solid red; */
}
body{
background-color: #D9DDD7;
}
.logo{
    position: absolute;
    z-index: 2;
    left: 5%;
    top:3%;
}
#user{  position: absolute;
    border-radius: 120px;
    z-index: 4;
    left:20%;
    top:30%;

}
#usuario{ position: absolute;
    border-radius: 120px;
    z-index: 4;   
    left:60%;
    top:30%;
}

    img[type="img"]{
        position: absolute;
        border-radius: 40px;
      }

.rectangle {
    width: 62rem;
    height: 27rem;
    background: #8D9277;
    position: absolute;
    top: 15%;
    left: 11%;
    z-index: 1;
    border-radius: 15px;
}
p{
    font-size:larger;
    font-family: bold italic;
    color: #3F4927;
    right:20%;
    top: 10%;
    margin-left: 150px;
    margin-top: 40px;
}
h1{
    color: #3F4927;
    top: 10%;
    left: 44%;
    position: absolute;
}

.paciente{
    position: absolute;
    left: 51.8%;
    top: 78%;
}

.funcionario{
    position: absolute;
    left: 9.4%;
    top: 78%;
}

.rectangle2{
    color: black;
    width: 20%;
    height: 1%;
    position: absolute;
    top: 15%;
    left: 11%;
    z-index: 2;
}

