* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}


#img[type="img"] {
  border-radius: 40px;
  position: absolute;
}

.logo {
  z-index: 4;
  position: absolute;
  left: 2%;
  top: 0.5%;
  border-radius: 50%;
}


.rectangle {
  width: 80rem;
  height: 5.5rem;
  background: #8D9277;
  position: absolute;
  top: 10;
  z-index: 2;
}

.rectangle2 {
  width: 80rem;
  height: 0.13rem;
  background: #8D9277;
  left: 0%;
  top: 17%;
  position: absolute;
  z-index: 2;
}

.rectangle3 {
  width: 80rem;
  height: 0.3rem;
  background: #8D9277;
  left: 0%;
  top: 15.8%;
  position: absolute;
  z-index: 2;
}

.rectangle4 {
  width: 80rem;
  height: 0.3rem;
  background: #8D9277;
  left: 0%;
  top: 25.65%;
  position: absolute;
  z-index: 2;
}

.rectangle5 {
  width: 80rem;
  height: 0.1rem;
  background: #8D9277;
  left: 0%;
  top: 25%;
  position: absolute;
  z-index: 2;
}

.rectangle6 {
  width: 77.4rem;
  height: 25rem;
  background: #d5d5d5;
  z-index: 5;
  left: 1%;
  top: 30%;
  position: absolute;
}

.rectangle7 {
  position: absolute;
  top: 195%;
}

.rectangle8 {
  position: absolute;
  top: 250%;
}

.rectangle9 {
  position: absolute;
  top: 270%;
  z-index: 0;
}

.consultas {
  position: absolute;
  z-index: 6;
  left: 13%;
  top: 77%;
}

.agendar {
  position: absolute;
  z-index: 6;
  left: 35%;
  top: 77%;
}

.planos {
  position: absolute;
  z-index: 6;
  left: 56%;
  top: 77%;
}

.perfil {
  position: absolute;
  z-index: 6;
  left: 80%;
  top: 77%;
}


.titulo {
  left: 10%;
  width: 20%;
  top: 5%;
  position: absolute;
  z-index: 3;
}

.titulo2 {
  position: absolute;
  left: 31%;
  top: 180%;
  z-index: 0;
}

.rectangleicons {
  position: absolute;
  top: 110%;
  left: 1.5%;
  z-index: 0;
}

.consultas {
  position: absolute;
  top: 118%;
  left: 7%;
  z-index: 1;
}

.agendar {
  position: absolute;
  top: 118%;
  left: 30.5%;
  z-index: 1;
}

.planos {
  position: absolute;
  top: 118%;
  left: 54%;
  z-index: 1;
}

.perfil {
  position: absolute;
  top: 118%;
  left: 77%;
  z-index: 1;
}

.icon1 {
  position: absolute;
  color: #d27d0e;
  left: 11.5%;
  top: 155%;
  font-size: larger;
  z-index: 1;
}

.icon2 {
  position: absolute;
  color: #d27d0e;
  left: 35.5%;
  top: 155%;
  font-size: larger;
  z-index: 0;
}

.icon3 {
  position: absolute;
  color: #d27d0e;
  left: 56.2%;
  top: 155%;
  font-size: larger;
  z-index: 0;
}

.icon4 {
  position: absolute;
  color: #d27d0e;
  left: 82%;
  top: 155%;
  font-size: larger;
  z-index: 0;
}

.qrcode {
  position: absolute;
  left: 80%;
  top: 275%;
  z-index: 1;
}

.ajuda {
  position: absolute;
  left: 93%;
  top: 3%;
  z-index: 3;
}

.logout {
  position: absolute;
  left: 88%;
  top: 3%;
  z-index: 3;
}

.text1 {
  position: absolute;
  color: #AFAFAF;
  top: 19.3%;
  left: 7%;
  font-size: 130%;
  z-index: 0;
}

.text2 {
  position: absolute;
  color: #AFAFAF;
  top: 19.3%;
  left: 33%;
  font-size: 130%;
  z-index: 0;
}

.text3 {
  position: absolute;
  color: #AFAFAF;
  top: 19.3%;
  left: 58%;
  font-size: 130%;
  z-index: 0;
}

.text4 {
  position: absolute;
  color: #AFAFAF;
  top: 19.3%;
  left: 80%;
  font-size: 130%;
  z-index: 0;
}

.text5 {
  position: absolute;
  left: 8%;
  top: 234%;
  z-index: 1;
}

.text6 {
  position: absolute;
  left: 45%;
  top: 239%;
  z-index: 1;
}

.text7 {
  position: absolute;
  left: 79%;
  top: 234%;
  z-index: 1;
}

.text8 {
  position: absolute;
  color: rgb(148, 146, 146);
  left: 5%;
  top: 283%;
  font-family: Comic Sans MS, Comic Sans, cursive;
  z-index: 1;
}

.text9 {
  position: absolute;
  color: rgb(148, 146, 146);
  left: 5%;
  top: 293%;
  font-family: Comic Sans MS, Comic Sans, cursive;
  z-index: 1;
}

.text10 {
  position: absolute;
  color: rgb(172, 172, 172);
  font-size: 87%;
  left: 5%;
  top: 286.5%;
  font-family: Comic Sans MS, Comic Sans, cursive;
  z-index: 1;
}

.text11 {
  position: absolute;
  color: rgb(172, 172, 172);
  font-size: 87%;
  left: 5%;
  top: 296.5%;
  font-family: Comic Sans MS, Comic Sans, cursive;
  z-index: 1;
}

.text12 {
  position: absolute;
  color: steelblue;
  background-image: linear-gradient(to bottom, rgb(255, 2, 2), rgb(255, 166, 0), rgb(255, 0, 72));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 56%;
  top: 278%;
  font-family: Didot, serif;
  font-size: 120%;
  z-index: 1;
}

.text13 {
  position: absolute;
  color: rgb(128, 126, 126);
  left: 54.7%;
  top: 291%;
  font-size: small;
  font-family: OCR A Std, monospace;
  z-index: 1;
}

.text14 {
  position: absolute;
  color: rgb(128, 126, 126);
  left: 54.6%;
  top: 294%;
  font-size: small;
  font-family: OCR A Std, monospace;
  z-index: 1;
}

.text15 {
  position: absolute;
  color: rgb(128, 126, 126);
  left: 55.4%;
  top: 297%;
  font-size: small;
  font-family: OCR A Std, monospace;
  z-index: 1;
}

.text16 {
  position: absolute;
  color: rgb(128, 126, 126);
  left: 56%;
  top: 300%;
  font-size: small;
  font-family: OCR A Std, monospace;
  z-index: 1;
}

.margem1 {
  position: absolute;
  color: #929191;
  left: 2.5%;
  top: 276%;
  z-index: 1;
}

.margem2   {
  position: absolute;
  color: #929191;
  left: 2.5%;
  top: 303%;
  z-index: 1;
}

.margem3 {
  position: absolute;
  color: #c0c0c0;
  left: 57.5%;
  top: 285%;
  z-index: 1;
}

.home {
  position: absolute;
  width: 30px;
  left: 97%;
  top: 305%;
  z-index: 0;
}

.ebook1 {
  position: absolute;
  left: 4%;
  top: 207%;
  z-index: 0;
}

.ebook2 {
  position: absolute;
  left: 33.5%;
  top: 204.5%;
  z-index: 0;
}

.ebook3 {
  position: absolute;
  left: 69%;
  top: 207%;
  z-index: 0;
}

body { overflow-x: hidden; }