* {
    margin: 0%;
    padding: 0%;
    /* border:1px solid red; */
}

body {
    background-color: #D9DDD7;
}

.logo {
    position: absolute;
    height: 13%;
    width: 6%;
    z-index: 2;
    left: 12%;
    top: 1%;
}

.titulo{
    position: absolute;
    left: 20%;
    top: 4.2%;
    width: 23%;
    z-index: 0;
}

#user {
    position: absolute;
    border-radius: 120px;
    z-index: 4;
    left: 20%;
    top: 30%;
}

#usuario {
    position: absolute;
    border-radius: 120px;
    z-index: 4;
    left: 60%;
    top: 30%;
}

img[type="img"] {
    position: absolute;
    border-radius: 40px;
}

.rectangle {
    width: 63.9rem;
    height: 30rem;
    background: #8D9277;
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 1;
    border-radius: 30px;
}

.rectangle2 {
    position: absolute;
    top: 10%;
    z-index: 1;
}

h1 {
    position: absolute;
    top: 15%;
    left: 41%;
    font-size: 250%;
    color: #3F4927;
    z-index: 1;
}

.funcionario {
    position: absolute;
    color: #3F4927;
    left: 66.3%;
    top: 78%;
    font-size: larger;
    z-index: 1;
}

.paciente {
    position: absolute;
    color: #3F4927;
    left: 18.8%;
    top: 78%;
    font-size: larger;
    z-index: 1;
}

.img1 {
    position: absolute;
    width: 20%;
    left: 13.5%;
    top: 28%;
    z-index: 1;
}

.img2 {
    position: absolute;
    width: 20%;
    left: 62.5%;
    top: 28%;
    z-index: 1;
}